.App {
  height: 50px;
  /* border: 2px solid red; */
  background-color: cadetblue;
  text-align: center;
}

button{
  margin: 1em;
  height: 30px;
  width: 100px;
  background-color: bisque;
  color:slateblue;
}
